@model MunicipalTrashCollection.Models.Address
@{
    ViewBag.Title = "EditCustomerDay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm("TempPickUpDay", "Customer"))
{
    <div class="form-inline">
        <h3>Change pickup date for one week</h3>
        <input type="date" name="PickUpDateChange">

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    
}
@using (Html.BeginForm("EditCustomerDay", "Customer"))
{
    <h3>Specify a period of time that I don't want pickup </h3>
    <div class="form-inline">
        <h5>To</h5>
        <input type="date" name="StartVacation">
    </div>

    <div class="form-inline">
        <h5>From </h5>
        <input type="date" name="EndVacation">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}

@using (Html.BeginForm("EditCustomerDay", "Customer"))
{
    <div class="form-inline">
        <h3>Change pickup day</h3>
        @Html.EnumDropDownListFor(Model => Model.Day.Days, new { @class = "form-control" })

        <button type="submit" class="btn btn-primary">Submit</button>
        
    </div>
}

@*<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="EditCustomerDay" class="btn btn-default" />
    </div>
</div>*@